@media (max-width: 750px) {
  section {
    width: 100%;

    .swiper {
      width: 75%;
    }
  }
}

@media (max-width: 1000px) {
  section {
    width: 100%;

    .swiper {
      width: 82%;
    }
  }
}
